@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table>
    <thead>
        <tr>
            <th>Tour</th>
            <th>Price</th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var tour in Model.Tours)
        {
            <tr>
                <td>@tour.Name</td>
                <td>@tour.Price.ToString("c")</td>
            </tr>
        }
    </tbody>
</table>

<div>Graph API result</div>
<div>@ViewData["GraphApiResult"]</div>
