@page "/"
@attribute [Authorize(Policy = "IsAdmin")]
@using Bobaloo.Hangman.Data.Core
@using Bobaloo.Hangman.Data
@inject IRepository<HangmanUnitOfWork, Tour, Guid> TourRepository
@inject IHttpContextAccessor Context
<PageTitle>Bobaloo's Hangman Tours Adminstration Portal</PageTitle>

<h1>Tours</h1>

@if(Tours == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <TelerikGrid Data="Tours" TItem="Tour" Pageable="true" Sortable="true" FilterMode="@GridFilterMode.FilterRow">
        <GridColumns>
            <GridColumn>
                <Template>
                    <a href="/tours/@(((Tour)context).TourId)">@(((Tour)context).Name)</a>
                </Template>
            </GridColumn>
            <GridColumn Field="Price" DisplayFormat="{0:C2}" />
        </GridColumns>
    </TelerikGrid>
    
}
@code{
    IEnumerable<Tour>? Tours;
    protected override async Task OnInitializedAsync()
    {
        Tours = (await TourRepository.Get()).Entities;

    }
    
}
