@page "{id:Guid}"
@model Bobaloo.Hangman.Web.Pages.Tours.EditTourModel
@{
    ViewData["Title"] = $"Update Tour {Model.Tour.Name}";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Longitude" />
            <input type="hidden" asp-for="Latitude" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tour.Name" class="control-label"></label>
                <input asp-for="Tour.Name" class="form-control" />
                <span asp-validation-for="Tour.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tour.Description" class="control-label"></label>
                <textarea asp-for="Tour.Description" class="form-control"></textarea>
                <span asp-validation-for="Tour.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tour.Price" class="control-label"></label>
                <input asp-for="Tour.Price" class="form-control" />
                <span asp-validation-for="Tour.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Is Published</label>
                <input type="checkbox" asp-for="Tour.IsPublished" class="form-check-input" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <div id="map" style="width: 800px; height: 600px;"></div>
            </div>
        </form>
    </div>
    <div id="myMap" style='position:relative;width:600px;height:400px;'></div>
</div>


@section Scripts{
    <script type="text/javascript" src="~/js/EditTour.js"></script>
}
