@page "{id:Guid}"
@model Bobaloo.Hangman.Web.Pages.Tours.EditTourModel
@{
    ViewData["Title"] = $"Update Tour {Model.Tour.Name}";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Longitude" />
            <input type="hidden" asp-for="Latitude" />
            <input type="hidden" asp-for="Tour.TourId"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tour.Name" class="control-label"></label>
                <input asp-for="Tour.Name" class="form-control" />
                <span asp-validation-for="Tour.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tour.Description" class="control-label"></label>
                <textarea asp-for="Tour.Description" class="form-control"></textarea>
                <span asp-validation-for="Tour.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tour.Price" class="control-label"></label>
                <input asp-for="Tour.Price" class="form-control" />
                <span asp-validation-for="Tour.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Is Published</label>
                <input type="checkbox" asp-for="Tour.IsPublished" class="form-check-input" />
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <a href="~/api/AudioFile/Tours/@Model.Tour.TourId" target="_blank">Intro Audio</a>
            </div>

        </form>
    </div>
    <div id="myMap" style='position:relative;width:600px;height:400px;'></div>
    <div class="col-md-4" id="TTSEditor">
        <div class="form-group">
            <select asp-items="Model.VoiceActors" data-bind="value:selectedTTSModel"></select>
            <textarea id="txtTTS" data-bind="value: ttsText"></textarea>
            <label>Append</label>
            <input type="checkbox" data-bind="checked: ttsAppend"/>
            <button data-bind="click: submitRequest">Submit for TTS</button>
        </div>
        <ul data-bind="foreach: pollNotices">
            <li>
                <span data-bind="text:state.job_token"></span>
                <span data-bind="text: state.status"></span>
                <span data-bind="text: state.created_at"></span>
                <span data-bind="if: state.maybe_public_bucket_wav_audio_path">
                    <a target="_blank" data-bind="text: state.title, attr: { href: 'https://storage.googleapis.com/vocodes-public' + state.maybe_public_bucket_wav_audio_path }"></a>
                </span>
            </li>
        </ul>
    </div>
</div>


@section Scripts{
    <script type="module" src="~/scripts/EditTour.js"></script>
    <script type="module" src="~/scripts/TTSHubClient.js"></script>
    <script type="module" src="~/scripts/EditViewModel.js"></script>

}
