<AuthorizeView>
    <Authorized>
        Hello,  @context.User.Claims.Single(c => c.Type.ToLower().Contains("givenname")).Value @context.User.Claims.Single(c => c.Type.ToLower().Contains("surname")).Value
        
        <a href="MicrosoftIdentity/Account/SignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>
